.header{ 
    border: 6px dotted black
}

.hero {
    border: 6px dotted black 
}

.middle {
    border: 6px dotted black 
}

.quote {
    border: 6px dotted black 
}

.final {
    border: 6px dotted black 

}